altgraph==0.17.3
certifi==2022.9.24
distlib==0.3.6
filelock==3.8.0
future==0.18.2
pefile==2022.5.30
pipenv==2022.10.12
platformdirs==2.5.2
pyasn1==0.4.8
pyinstaller==5.5
pyinstaller-hooks-contrib==2022.10
pysmb==1.2.8
pywin32-ctypes==0.2.0
scapy==2.4.5